{% extends '::base_admin.html.twig' %}
{% block container %}
  {% embed '::modal.html.twig' %}
    {% block id %}facebook-import-modal{% endblock %}
    {% block modal_title %}Import en cours{% endblock %}
    {% block modal_body %}Test{% endblock %}
    {% block modal_footer %}
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    {% endblock %}
  {% endembed %}
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-toggle="tab" href="#home">Config Facebook</a></li>
      <li role="presentation"><a data-toggle="tab" href="#profile">Config Twitter</a></li>
      <li role="presentation"><a data-toggle="tab" href="#messages">Config Instagram</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home">
        {% if app.session.get('user_access_token') %}
          <form action="{{ path('admin_facebook_subscribe') }}" method="POST">
            <div class="form-group">
              <input class="form-control" name="facebook_page"/>
            </div>
            <button type="submit" class="btn btn-success">Ajouter</button>
          </form>
        {% endif %}
        <div class="row">
          {% for facebookPage in facebookPages %}
            <div class="col-sm-4"> {{ facebookPage.pageName }}</div>
            <div class="col-sm-2">
              <form action="{{ path('admin_facebook_unsubscribe', {'pageName': facebookPage.pageName}) }}" method="POST">
                <input type="hidden" name="facebook_page" value="{{ facebookPage.pageName }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token('subscription_remove') }}">
                <button type="submit" class="btn btn-danger">Supprimer</button>
              </form>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-info" data-toggle="modal" data-target="#facebook-import-modal" id="import-facebook-post" data-href="{{ path('admin_facebook_import', {'pageName': facebookPage.pageName}) }}"> Importer </a>
            </div>
            <div class="clearfix"></div>
          {% endfor %}
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile">Dudek</div>
      <div role="tabpanel" class="tab-pane fade" id="messages">Pouet</div>
    </div>
  </div>
{% endblock container %}
{% block javascripts %}
  <script>
    var client = new Faye.Client('http://localhost:3000/');
    client.subscribe('/messages', function (message) {
      var json = JSON.parse(message);
      $(".modal-body").html(json.message);
    });
    $(function () {
      $("#facebook-import-modal").on('shown.bs.modal', function (e) {
        $.ajax({
          url: $(e.relatedTarget).data('href'),
          method: "GET",
          success: function (data) {
            console.log(data);
          }
        })
      })
    })
  </script>

{% endblock %}
