{% extends '::base_admin.html.twig' %}
{% block container %}
  {% embed '::modal.html.twig' %}
    {% block id %}import-modal{% endblock %}
    {% block modal_title %}Import en cours{% endblock %}
    {% block modal_body %}Test{% endblock %}
    {% block modal_footer %}
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    {% endblock %}
  {% endembed %}
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-toggle="tab" href="#facebook">Config Facebook</a></li>
      <li role="presentation"><a data-toggle="tab" href="#twitter">Config Twitter</a></li>
      <li role="presentation"><a data-toggle="tab" href="#instagram">Config Instagram</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="facebook">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Facebook Page Name</th>
                  <th>Facebook Page Id</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for facebookConfig in facebookConfigs %}
                  <tr>
                    <td> {{ facebookConfig.pageName }} </td>
                    <td> {{ facebookConfig.pageId }} </td>
                    <td>
                      <a href="#" data-toggle="modal" data-target="#import-modal" id="import-facebook-post" data-href="{{ path('admin_facebook_import', {'pageName': facebookConfig.pageName}) }}"><i class="glyphicon glyphicon-download-alt"></i>Import all messages / </a>
                      <a href="{{ path('admin_facebook_unsubscribe', {'pageName': facebookConfig.pageName, 'token': csrf_token('remove_subscription')}) }}"><i class="glyphicon glyphicon-remove"></i>Unsubscribe</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if app.user.accessTokens['facebook'] is defined %}
            <hr>
            <div class="col-sm-4">
              <form action="{{ path('admin_facebook_subscribe') }}" method="POST">
                <div class="input-group">
                  <input type="text" class="form-control" name="facebook_page" placeholder="Enter the name of the page">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" type="button">Subscribe to page!</button>
                  </span>
                </div>
              </form>
            </div>
          {% endif %}
        </div>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="twitter">Twitter Config</div>

      <div role="tabpanel" class="tab-pane fade" id="instagram">
        {% if instagramConfigs[0] is defined %}
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Instagram tag</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tag in instagramConfigs[0].tags %}
                    <tr>
                      <td> {{ tag }} </td>
                      <td>
                        <a href="#" data-toggle="modal" data-target="#import-modal" id="import-instagram-post" data-href="{{ path('admin_instagram_import', {'tag': tag}) }}"><i class="glyphicon glyphicon-download-alt"></i>Import all messages / </a>
                        <a href="{{ path('admin_instagram_unsubscribe', {'tag': tag, 'token': csrf_token('remove_subscription')}) }}"><i class="glyphicon glyphicon-remove"></i>Unsubscribe</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <hr>
            <div class="col-sm-4">
              <form action="{{ path('admin_instagram_subscribe') }}" method="POST">
                <div class="input-group">
                  <input type="text" class="form-control" name="instagram_tag" placeholder="Enter any hashtag">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" type="button">Subscribe to this hashtag!</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock container %}
{% block javascripts %}
  {{ parent() }}
  <script>
    var client = new Faye.Client('http://localhost:3000/');
    client.subscribe('/messages', function (message) {
      var json = JSON.parse(message);
      $(".modal-body").html(json.message);
    });
    $(function () {
      $("#import-modal").on('shown.bs.modal', function (e) {
        $.ajax({
          url: $(e.relatedTarget).data('href'),
          method: "POST",
          success: function (data) {
            console.log(data);
          }
        })
      })
    })
  </script>

{% endblock %}
