{% extends '::base_front.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/socialwall/css/front.css') }}" />
{% endblock %}

{% block container %}
  <div class="row" id="social-post-container"></div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/socialwall/js/underscore.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/socialwall/js/backbone.js') }}"></script>
  <script type="text/template" id="post-template">
    <div class="col-sm-3">
      <div class="tile-title <% if (type == 'facebook') { %>tile-aqua<% } else { %>tile-blue<% } %>">
        <div class="icon"> <% if (picture != null) { %><img src="<%= picture %>" style="height: 50%; width: 50%"/><% } %></i></div>
        <div class="title">
          <h3><%= authorUsername %></h3>
          <p><%= message %></p>
        </div>
      </div>
    </div>
    <% if (key % 4 == 0) { %><div class="clearfix"></div><% } %>
  </script>
  <script type="text/javascript" src="{{ asset('bundles/socialwall/js/front.js') }}"></script>
  <script type="text/javascript">
    $(function () {
      var client = new Faye.Client('http://localhost:3000/');
      var collection = new App.Collections.SocialPosts([
        {% for post in posts %}
          {{ post|raw }},
        {% endfor %}
      ]);
      var views = new App.Views.SocialPosts({collection: collection});
      $("#social-post-container").append(views.el);
      client.subscribe('/messages', function (post) {
        var post = JSON.parse(post[0]);
        collection.add(post);
      });
      setInterval(function () {
        views.trigger('cycle');
      }, 5000);
    })
  </script>
{% endblock javascripts %}

